* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

ul,
li {
    list-style: none;
}

.all {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: center;
    margin: 1rem;
}

/* Menu Burger */
.sr-only {
    position: absolute;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100%;
    z-index: 100;
    background-color: transparent;
}

#toggle {
    appearance: none;
    position: absolute;
}

/* Label */
.label {
    display: inline-flex;
    padding: .5rem;
    z-index: 10;
    position: relative;
    cursor: pointer;
    background-color: antiquewhite;
    border-radius: 0 50% 50% 0;
}

/* Nav */
.main-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    background-color: green;
    inset: 0 0 0 0%;
    translate: -100% 0%;
}

.main-nav__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5em;
}

.main-nav__item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-nav__link:hover {
    cursor: pointer;
    color: var(--clr-primary-orange);
}

input[type=checkbox]:checked~.main-nav {
    translate: 0%;
}

.svg {
    width: 2rem;
    cursor: pointer;
}

.real_svg {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}

@media (min-width: 50rem) {
    .container {
        width: 40%;
        position: relative;
    }

    .main-nav {
        translate: 0;
        position: relative;
        width: 100%;
        height: 100%;
    }

    .label {
        display: none;
    }
}
/* Calendrier */

#calendar {
    width: 100%;
    height: 100%;
}

.arrow-icon {
    height: 2.8em;
    width: 2.8em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1em auto;
    cursor: pointer;
    border-radius: 4px;
    gap: .5rem;
}

.left-bar {
    background-color: transparent;
    top: 0;
    left: 0;
    width: 40px;
    height: 10px;
    transform: rotate(35deg);
    float: right;
    border-radius: 2px;
}

.left-bar::after {
    content: "";
    background-color: white;
    width: 40px;
    height: 10px;
    display: block;
    float: right;
    border-radius: 6px 10px 10px 6px;
    transition: all .5s cubic-bezier(.25, 1.7, .35, .8);
    z-index: -1;
}

.right-bar {
    background-color: transparent;
    top: 0px;
    left: 26px;
    width: 40px;
    height: 10px;
    transform: rotate(-35deg);
    float: right;
    border-radius: 2px;
}

.right-bar::after {
    content: "";
    background-color: white;
    width: 40px;
    height: 10px;
    display: block;
    float: right;
    border-radius: 6px 10px 10px 6px;
    transition: all 0.5s cubic-bezier(.25, 1.7, .35, .8);
    z-index: -1;
}

input[type=checkbox]:checked~label .left-bar:after {
    transform-origin: center center;
    transform: rotate(110deg);
}

input[type=checkbox]:checked~label .right-bar:after {
    transform-origin: center center;
    transform: rotate(-110deg);
}

.search {
    background: #fff;
    height: 30px;
    border-radius: 30px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.8s;
    gap: .5rem;
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}

.search__box {
    background: transparent;
    border: none;
    outline:none;
}

.main {
    display: flex;
    width: 100%;
    height: 100%;
}

.toastui-calendar-panel {
    height: 100%;
}